* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0b0b16;
    color: white;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #6c5ce7, #341f97);
}

header h1 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
    background: #111122;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

button {
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 14px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #8b7cff;
}

.tools {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #18182b;
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

#result {
    margin: 30px;
    padding: 30px;
    background: #18182b;
    border-radius: 20px;
    text-align: center;
}

#about {
    text-align: center;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111122;
}


@media(max-width:600px){

    header h1 {
        font-size: 32px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    button {
        width: 90%;
    }
}
